{% extends "base.html" %}
{% load static tailwind_tags %}
{% block content %}

<nav class="bg-white shadow-2xl dark:bg-gray-800">
    <div class="container flex items-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        <div class="md:flex grid-cols-1 md:grid-cols-2 items-center gap-4">
            <div><img class="w-24 h-24 mx-auto rounded-full mb-2 ring ring-gray-300 dark:ring-gray-600 " src="{{user.userprofile.profile_picture.url}}" alt="profil_pic"></div>
            <div>
                <div><h1 class="text-base md:text-2xl font-bold">Bonjour {{ user.full_name }}!</h1></div>
                <div>
                    {% if user.userprofile.is_active %}                        
                        <div class="flex items-center m-2">                            
                            <svg class="w-6 h-6 bg-green-500 rounded-full p-1 animate-pulse" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"></path>
                            </svg>
                            <small class="capitalize ml-2">verified account</small>
                        </div>
                    {%else%}
                        <div class="flex items-center m-2">                            
                            <svg class="w-6 h-6 bg-red-500 rounded-full p-1 animate-pulse" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"></path>
                            </svg>
                            <small class="capitalize ml-2">unverified account</small>
                        </div>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="details bg-gray-300 dark:bg-gray-900 rounded-xl">
<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 m-4 p-6 justify-center mx-auto">
    <div class="w-full overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800">
        <div class="px-6 py-4">
            <h1 class="text-xl font-semibold text-gray-800 dark:text-white">User Details</h1>  
    
            <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                <svg aria-label="suitcase icon" class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"></path>
                </svg>
    
                <h1 class="px-2 text-sm">{{ user.full_name}}</h1>
            </div>
    
            <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                <svg aria-label="location pin icon" class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"></path>
                </svg>
    
                <h1 class="px-2 text-sm">{{user.phone_number}}</h1>
            </div>
    
            <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                <svg aria-label="email icon" class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"/>
                </svg>
    
                <h1 class="px-2 text-sm">{{user.email}}</h1>
            </div>
        </div>
    </div>


    <div class="w-full overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800">
        <div class="px-6 py-4">
            <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Correspondence</h1>
    
            <p class="py-2 text-gray-700 dark:text-gray-400">
                {{user.userprofile.address_line_1}} <br> {{user.userprofile.address_line_2}}
                 <br> {{user.userprofile.postcode}} {{user.userprofile.city}} {{user.userprofile.state}}.
            </p>    

        </div>
    </div>

</div>
</section>


{% endblock content %}