{% extends 'base.html' %}
{% load static tailwind_tags %}
{% load tailwind_filters %}
{% block content %}


<section class="p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
    <div class="flex mx-auto">
        <div class="flex items-center m-2">
          <img class="w-32 h-32 rounded-full m-2 ring ring-gray-300 dark:ring-gray-600" src="{{user.userprofile.profile_picture.url}}" alt="profile">
          <div>
            <h1 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Update Dependent</h1>
            <h2 class="text-sm text-blue-500 mr-4">{{user.email}}</h2>
            <div class="{%if user.userprofile.is_active %} bg-green-500 {%else%}  bg-red-500 {%endif%} w-24 py-1 px-2 rounded-full mt-2 animate-pulse items-center">              
                {% if user.userprofile.is_active %}
                <p class="text-sm uppercase text-white text-center">Verified</p>
                {% else %}
                <p class="text-sm uppercase text-white text-center">Unverified</p>
                {% endif %}            
            </div>            
          </div>         
        </div>
    </div>


  <div class=" p-6 m-auto mx-auto bg-white rounded-lg shadow-md dark:bg-gray-900 mt-10">


    <form class="mt-6" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% include "includes/form_errors.html" %}
      
      <div class="">
        <div class="justify-evenly grid-cols-1 gap-8 mt-4 lg:flex lg:grid-cols-2">

          <div class="lg:w-1/2 p-6 rounded-xl mb-2 ring-2 ring-gray-500">
            <div class="flex">
              <svg class="h-6 w-6 text-gray-700 dark:text-white mr-4"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
              </svg>
              <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Dependent Profile</h2>
            </div>
            <div class="grid grid-cols-1 gap-6 mt-4">   
              {{form_user|crispy}}
            </div>
          </div>
              
            <div class="lg:w-1/2 p-6 rounded-xl mb-2 ring-2 ring-gray-500">
              <div class="flex">
                <svg class="h-6 w-6 text-gray-700 dark:text-white mr-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M3 21v-13l9-4l9 4v13" />  <path d="M13 13h4v8h-10v-6h6" />  <path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" /></svg>
                <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Organisation</h2>
              </div>
              
              <div class="grid grid-cols-1 gap-6 mt-4">
             
                  <div class="">
                    <label for="" class="text-gray-700 font-semibold text-sm dark:text-gray-600">Organisation/College/School</label>
                    <h2 class="text-gray-700 font-semibold text-sm dark:text-white">{{dependent.organisation}}</h2> 
                  </div>
                  <div class="">
                    <label for="" class="text-gray-700 font-semibold text-sm dark:text-gray-600">Classroom</label>
                    <h2 class="text-gray-700 font-semibold text-sm dark:text-white">{{dependent.organisation_class}}</h2> 
                  </div>
                  <div class="">
                    <label for="" class="text-gray-700 font-semibold text-sm dark:text-gray-600">Identity Card Number</label>
                      {{form_dependent.identity}}
                  </div>

              </div>
            </div>

        </div>
      </div>
      <div class="mt-6">
          <button class="w-full px-6 py-2.5 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
             Update Dependent
          </button>
          
      </div>
    </form>



  </div>
</section>
<script>
  $(document).ready(function() {
      // Get the select elements
      var controllingSelect = $('#id_organisation');
      var dependentSelect = $('#id_organisation_class');

      // Disable dependent select initially
      dependentSelect.prop('disabled', true);  

      // Event handler for controlling select change
      controllingSelect.change(function() {
          var controllingId = $(this).val();
          if (controllingId) {
              // Make Ajax request to get dependent choices
              $.getJSON('{% url "dependents:get_dependent_choices" %}', {controlling_id: controllingId}, function(data) {
                  // Clear and enable dependent select
                  dependentSelect.empty().prop('disabled', false);

                  // Add options to dependent select
                  $.each(data, function(index, item) {
                      dependentSelect.append($('<option>').val(item.id).text(item.name));
                  });
              });
          } else {
              // Clear and disable dependent select if controlling select is empty
              dependentSelect.empty().prop('disabled', true);
          }
      });
  });
</script>
{% endblock content %}